doctype html
html
  head
    meta(charset='UTF-8')
    title Generador de Firmas
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
  body(style="font-family: 'Roboto', sans-serif;")
    block content
